<div class="app-container" [ngClass]="{ 'bg-light': account }">
  <nav
    *ngIf="account"
    class="navbar navbar-expand navbar-dark bg-dark border-bottom"
  >
    <div class="container-fluid">
      <!-- Main -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active"
            >Profile</a
          >
        </li>
        <li class="nav-item" *ngIf="account?.role === Role.Admin">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active"
            >Admin</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" role="button">Logout</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto" *ngIf="account?.role === Role.Admin">
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees" routerLinkActive="active"
            >Employees</a
          >
        </li>
        <li class="nav-item" *ngIf="account?.role === Role.Admin">
          <a
            class="nav-link"
            routerLink="/departments"
            routerLinkActive="active"
            >Departments</a
          >
        </li>
        <li class="nav-item" *ngIf="account?.role === Role.Admin">
          <a class="nav-link" routerLink="/requests" routerLinkActive="active"
            >Requests</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <!-- Router outlets -->
  <router-outlet name="subnav"></router-outlet>
  <alert></alert>
  <router-outlet></router-outlet>
</div>
