<h1>Accounts</h1>
<p>All accounts from secure (admin only) api end point:</p>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Create Account</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 25%">Name</th>
      <th style="width: 25%">Email</th>
      <th style="width: 20%">Role</th>
      <th style="width: 15%">Status</th>
      <th style="width: 15%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <td>
        {{ account.title }} {{ account.firstName }} {{ account.lastName }}
      </td>
      <td>{{ account.email }}</td>
      <td>{{ account.role }}</td>
      <td>
        <span [class]="account.isActive ? 'badge bg-success' : 'badge bg-danger'">
          {{ account.isActive ? 'Active' : 'Inactive' }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <a routerLink="edit/{{ account.id }}" class="btn btn-sm btn-primary mr-1">Edit</a>
        <button (click)="toggleAccountStatus(account)" 
                [class]="account.isActive ? 'btn btn-sm btn-danger ml-1' : 'btn btn-sm btn-success ml-1'"
                [disabled]="account.isToggling">
          {{ account.isActive ? 'Deactivate' : 'Activate' }}
          <span *ngIf="account.isToggling" class="spinner-border spinner-border-sm"></span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!accounts">
      <td colspan="5" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
